#main .post .box .technical_skills_p{
    text-align: center;
}

#main .post .box .resume_heading{
    text-align: center;
}

#main .post .float_link_right{
    float: right;
}

/* targetting github repo link buttons */
#main .post .box ul li a{
    color: rgb(23, 191, 239)!important;
    /* font-size: 8px; */
}

#main .post .box ul li{
    font-size: small;
}