#myProgress {
    width: 75%;
    background-color: #ddd;
    margin-left: auto;
    margin-right: auto;
}
  
#myBar {
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
}

body{
    background-color: #212931;
    background-image: url("../../images/overlay.png"), linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../../images/bg.jpg");
    background-size: auto,								auto,														100% auto;
    background-position: center,								center,														top center;
    background-repeat: repeat,								no-repeat,													no-repeat;
}